<%- include('../partials/header', { token: token }) %>
    <main>
        <% if (typeof error !=='undefined' && error) { %>
            <%= error %>
                <% } %>
                    <form action="/ToDoLists/add" method="POST">
                        tytuł: <input type="text" name="title" placeholder="Tytuł notatki"
                            value="<%= typeof formData !== 'undefined' ? formData.title : '' %>" required minlength="3">
                        <br>
                        tresc:<textarea name="tresc" placeholder="Treść notatki" required
                            minlength="3"><%= typeof formData !== 'undefined' ? formData.tresc : '' %></textarea> <br>
                        status:
                        <select name="status" id="status" required>
                            <option value="Do zrobienia" <%=(typeof formData !=='undefined' &&
                                formData.status==='Do zrobienia' ) ? 'selected' : '' %>>Do zrobienia</option>
                            <option value="W trakcie" <%=(typeof formData !=='undefined' &&
                                formData.status==='W trakcie' ) ? 'selected' : '' %>>W trakcie</option>
                            <option value="Zakończone" <%=(typeof formData !=='undefined' &&
                                formData.status==='Zakończone' ) ? 'selected' : '' %>>Zakończone</option>
                        </select> <br>
                        Data rozpoczęcia: <input type="date" name="dataRozpoczecia"
                            value="<%= typeof formData !== 'undefined' ? formData.dataRozpoczecia : '' %>" required>
                        <br>
                        Data zakończenia: <input type="date" name="dataZakonczenia"
                            value="<%= typeof formData !== 'undefined' ? formData.dataZakonczenia : '' %>" required>
                        <br>
                        Pilne?: <input type="checkbox" name="pilne" <%=(typeof formData !=='undefined' &&
                            formData.pilne==='on' ) ? 'checked' : '' %>> <br>
                        <button type="submit">Dodaj notatkę</button>
                    </form>
    </main>
    <%- include('../partials/footer') %>