<%- include('../partials/header', { token: token }) %>
    <main>
        <form action="/ToDoLists" method="GET">
            <h3>Filtrowanie i Sortowanie</h3>
            Tytuł: <input type="text" name="title" value="<%= filters.title || '' %>">
            Pilne:
            <select name="pilne">
                <option value="" <%=filters.pilne==='' ? 'selected' : '' %>>Wszystkie</option>
                <option value="true" <%=filters.pilne==='true' ? 'selected' : '' %>>Tak</option>
                <option value="false" <%=filters.pilne==='false' ? 'selected' : '' %>>Nie</option>
            </select>
            <br>
            Sortuj po:
            <select name="sortBy">
                <option value="title" <%=filters.sortBy==='title' ? 'selected' : '' %>>Tytuł</option>
                <option value="dataRozpoczecia" <%=filters.sortBy==='dataRozpoczecia' ? 'selected' : '' %>>Data
                    rozpoczęcia
                </option>
            </select>
            <select name="sortOrder">
                <option value="desc" <%=filters.sortOrder==='desc' ? 'selected' : '' %>>Malejąco</option>
                <option value="asc" <%=filters.sortOrder==='asc' ? 'selected' : '' %>>Rosnąco</option>
            </select>
            <br>
            <button type="submit">Zastosuj</button>
            <button type="button" onclick="window.location.href='/ToDoLists'">Resetuj</button>
        </form>
        <ul>
            <% toDoLists.forEach(toDoList=> { %>
                <li>
                    <b>
                        <%= toDoList.title %>
                    </b> -
                    <%= toDoList.tresc %> - <%= toDoList.status %> -
                            Od: <%= toDoList.dataRozpoczecia %> - Do: <%= toDoList.dataZakonczenia %> -
                                    Pilne: <%= toDoList.pilne ? 'Tak' : 'Nie' %>
                                        <a href="/ToDoLists/edit/<%= toDoList._id %>">Edytuj</a>
                                        <form action="/ToDoLists/delete/<%= toDoList._id %>" method="POST"
                                            style="display:inline;">
                                            <button type="submit">Usuń</button>
                                        </form>
                </li>
                <% }) %>
        </ul>
    </main>
    <%- include('../partials/footer') %>