<%- include('../partials/header', { token: token }) %>
    <main>
        <ul>
            <% ToDoLists.forEach(ToDoList=> { %>
                <li>
                    <b>
                        <%= ToDoList.title %>
                    </b> -
                    <%= ToDoList.tresc %> - <%= ToDoList.status %> -
                            Od: <%= ToDoList.DataUtworzenia %> - Do: <%= ToDoList.DataZakonczenia %> -
                                    Pilne: <%= ToDoList.Pilne ? 'Tak' : 'Nie' %>
                                        <a href="/ToDoLists/edit/<%= ToDoList._id %>">Edytuj</a>
                                        <form action="/ToDoLists/delete/<%= ToDoList._id %>" method="POST"
                                            style="display:inline;">
                                            <button type="submit">Usuń</button>
                                        </form>
                </li>
                <% }) %>
        </ul>
    </main>
    <%- include('../partials/footer') %>