<%- include('../partials/header', { token: token }) %>
    <main>
        <ul>
            <% notes.forEach(note=> { %>
                <li>
                    <b>
                        <%= note.title %>
                    </b> - <%= note.content %> - <%= note.status %>
                            <a href="/notes/edit/<%= note._id %>?token=<%= token %>">Edytuj</a>
                            <form action="/notes/delete/<%= note._id %>?token=<%= token %>" method="POST"
                                style="display:inline;">
                                <button type="submit">Usuń</button>
                            </form>
                </li>
                <% }) %>
        </ul>
    </main>
    <%- include('../partials/footer') %>